<!DOCTYPE html>
<html>
  <head>
    <title>Businessbot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@2.15.4/dist/full.css" %>
    <%= javascript_importmap_tags %>

    <%# Font Awesome Pro icon library %>
    <script src="https://kit.fontawesome.com/35b3e465df.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <main class="min-h-screen flex flex-col">
      <h1 class="text-4xl text-center mb-4">BUSINESSBOT</h1>
      <%= yield %>
    </main>
  </body>
</html>
